<a href="https://colab.research.google.com/github/larregui/IntroToPythonForTeens/blob/main/IntroToPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **First Program**
ðŸ™‚

In [ ]:
#use the hashtag symbol to make comments
print("Hello World")#Hello World is a string
#Print("Hello World") #This statement wouln't work because print as a capital P

Hello World

# **Declare a Variable**

In [ ]:
age=20
print(age)

20

# **Combining Data Types**

In [ ]:
birth_year=input("Enter your birth year: ")
age=2023-birth_year #you can't subtract a string
print(age)#There will be an error

Enter your birth year: 2000

TypeError: ignored

In [ ]:
birth_year=input("Enter your birth year: ")
age=2023-int(birth_year)
print(age)

Enter your birth year: 2000
23

In [ ]:
#You can combine different data types by using commas:
text1 = "Distance to Mars:"
distance = 33.9
text2 = "million miles from Earth."

print(text1, distance, text2)

Distance to Mars: 33.9 million miles from Earth.

In [5]:
first=float(input("First: "))
second=float(input("Second: "))
sum= str(first + second)
print("Sum: "+sum)

First: 100
Second: 25.5
Sum: 125.5

#**What can you do with strings?**

In [6]:
course="Python Class" #String Object
course.upper() #method = object + function

'PYTHON CLASS'

In [ ]:
"""
Remember Python is case sensitive.
If you were to look for c,
-1 would have been returned
"""
course="Python Class" #String Object
course.find("C") #finds the index

7

#**Augmented assignment operator**

In [7]:
#Augmented assignment operator
num=4
num+=2
print(num)

6

# **More Expressions**

In [1]:
print(3+1*2-6/3)
#Heads up: The first print will print 3.0
#because there was division in the operation
#it will give a float as a result.

3.0